.sidebar {
  margin-top: 20px;
  flex: 0.2;
  position: sticky;
  top: 0;
}

.sidebarRow {
  display: flex;
  padding: 5px 16px;
  align-items: center;
  margin-bottom: 10px;
}
.sidebarRow p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
}
.sidebarRow:hover {
  background-color: rgb(211 211 211/31%);
}
