.widget {
  margin-top: 30px;
  flex: 0.2;
  margin-right: 10px;
  height: 100vh;
  position: sticky;
  top: 0;
  margin-left: 50px;
}
.widget_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.widget_bodyoption {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.widget_bodyoption h4 {
  margin-left: 10px;
  font-size: 14px;
}
.ml_10 {
  margin-left: 10px;
}
.ml_10 h4 {
  font-size: 16px;
  font-weight: bold;
  color: gray;
}
.ml_10 svg {
  font-size: 16px;
}
.widget_contact {
  display: flex;
  justify-content: space-between;
}
.widget_contactLeft svg {
  margin: 0px 10px;
}
